# Dependencies
node_modules/

# Build Outputs
dist/
.vinxi/
.output/
.cache/

# Environment Variables
.env
.env.*
!.env.example

# Cloudflare
.wrangler/
.dev.vars

# Convex
convex/_generated/

# IDE & System
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
.idea/
.DS_Store
*.log

# OS
Thumbs.db
